#Project backend config
#unused variables (for future versions)
#BACKEND_ENVIROMENT = "dev" | "prod" | "test"
#BACKEND_PORT = 

#Frontend url
FRONTEND_URL = "example.com"

#secret key JWT
SECRET_KEY =

#hashing config
HASH_PEPPER = 

# Database connection
DB_URL =
DB_HOST =
DB_NAME = 
DB_PORT = 
DB_USER = 
DB_PASSWORD = 
DB_TYPE = "mysql" | "postgres" | "mariadb" | "sqlite" | "oracle"

#Email SMTP
SMTP_USER = 
SMTP_FROM = 
SMTP_PASS = 
SMTP_PORT = 
SMTP_HOST = 
SMTP_SECURE =

#Supabase (used for storage)
SUPABASE_URL =
SUPABASE_KEY =
SUPABASE_BUCKET =
SUPABASE_JWT_SECRET = #unused

#Google Integrations
TOKEN_API = # Google Calendar API Key for Holidays Sync